.jav-items{
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}
.jav-items .item-info .item-name {
    display: block;
}